<tr>
  <td><%= player.id %></td>
  <td><%= image_tag(player.image) %></td>
  <td><%= player.first_name %></td>
  <td><%= player.last_name %></td>
  <td><%= player.nickname %></td>
  <td><%= player.nationality %></td>
  <td><%= player.age %></td>
  <td><%= player.position %></td>
  <td><%= player.team_name %></td>
  <td><%= link_to 'Show', player %></td>
  <td><%= link_to 'Edit', edit_player_path(player) %></td>
  <td><%= link_to 'Destroy', player, data: { confirm: 'Are you sure?' }, method: :delete %></td>
</tr>
